<style>

  #hourglass_empty{
    text-align: center;
  }

  #hourglass_emptyIcon{
    font-size: 12px;
    vertical-align: text-top;
  }

</style>

<div>
  <% items = Item.where(holder: current_user) %>
  <% items = items.sort_by{|item| item.rental_end} %>
  <% if items.empty? %>
    <p class="body1"><%=t 'views.dashboard.no_lent_items' %></p>
  <% else %>
    <div class="container text-center">
      <div class="row row-cols-1 row-cols-md-4 g-4">
        <% items.each do |item| %>
          <div>
            <%= render :partial => "partials/itemcard", :locals => { :item => item } %>
              <div class="progress mb-2">
                <div class="progress-bar" role="progressbar" style="width:<%= item.progress_lent_time %>%"></div>
              </div>
              <p
                <% if item.remaining_rental_duration < 172_800 %> class="caption-secondary"
                <% elsif item.remaining_rental_duration < 604_800 %> class="caption-primary"
                <% else %>  class="caption" <%end%> id="hourglass_empty">
                <span class="material-symbols-outlined" id="hourglass_emptyIcon"> hourglass_empty </span>
                <%= item.print_remaining_rental_duration%>
              </p>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>