<div>
  <% items = Item.where(owner: current_user).order("LOWER(name) asc") %>
  <% if items.empty? %>
    <p class="body-1"><%= t 'views.dashboard.offered_items.nothing_offered' %></p>
  <% else %>
    <div class="container text-center">
      <div class="row row-cols-1 row-cols-md-4 g-3">
        <% items.each do |result| %>
          <%= render :partial => "partials/itemcard", :locals => { :item => result } %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>