<nav class="bk-nav border-bottom border-top">
    <% @nav.each do |nav_item| %>
        <%= link_to nav_item[:path], class: "bk-nav-element" do %>
            <i class="<%= nav_item[:icon] %>"></i>
            <span class="bk-nav-text"><%= nav_item[:text] %></span>
        <% end %>
    <% end %>
</nav>