<p style="color: green"><%= notice %></p>

<div id="notifications">
  <% @dates.each do |date| %>
    <h2>
        <%= date[0] %>
    </h2>
    <div class = "notification-grey-box">
    <% date[1].each do |notification|%>
        <p>
            <%= link_to notification.notification_snippet, "notifications/" + notification.id.to_s %>
        </p>
    <% end %>
    </div>
  <% end %>
</div>