<p style="color: green"><%= notice %></p>

<div id="notifications">
  <% @dates.each do |(date, notifications)| %>
    <h2>
      <%= date %>
    </h2>
    <div class="notification-grey-box">
    <% notifications.each do |notification|%>
      <div class="container notification">
        <div class="row ">          
          <div class="col align-self-center">
            <%= render_if_exists notification.custom_partial, notification: notification %>
          </div>          
        </div>
      </div>
    <% end %>
    </div>
  <% end %>
</div>



