<p style="color: green"><%= notice %></p>

<div id="notifications">
  <% @dates.each do |(date, notifications)| %>
    <h2>
      <%= date %>
    </h2>
    <div class="notification-grey-box">
    <% notifications.each do |notification|%>
      <div class="notification">
        <h3>
            <%= notification.title %>
        </h3>
        <p>
            <%= notification.description %>
        </p>
      </div>
    <% end %>
    </div>
  <% end %>
</div>
