<p style="color: green"><%= notice %></p>

<div id="notifications">
  <% @dates.each do |date| %>
    <h1>
        <%= date[0] %>
    </h1>
    <%date[1].each do |notification|%>
        <p>
            <%= link_to notification.notification_snippet, notifications_path %>
        </p>
    <% end %>
  <% end %>
</div>