<p style="color: green"><%= notice %></p>

<div>
  <%= link_to "Back to items", notifications_path %>

  <div class="notification-message">
    <%= @notification.notification_snippet %>
  </div>

</div>
