<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#waitlist-modal">
  <%= t ('views.show_item.show_waitlist') %>
</button>

<!-- Modal -->
<div class="modal fade" id="waitlist-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          <%= (t 'views.show_item.waitlist') + ": " + item.name %>
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <% item.waitlist.users.each_with_index do |user, index| %>
          <p><%= (index+1).to_s + ". " + user.name %></p>
        <% end %>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" aria-label="Close"><%= t ('defaults.close') %></button>
      </div>
    </div>
  </div>
</div>