$Primary01: rgba(35, 1, 12, 1);
$Primary02: rgba(59, 2, 19, 1);
$Primary03: rgba(89, 3, 29, 1);
$Primary04: rgba(118, 4, 39, 1);
$Primary05: rgba(147, 5, 48, 1);
$Primary06: rgba(177, 6, 58, 1);
$Primary07: rgba(190, 48, 91, 1);
$Primary08: rgba(203, 89, 124, 1);
$Primary09: rgba(216, 130, 156, 1);
$Primary10: rgba(229, 172, 189, 1);
$Primary11: rgba(239, 205, 216, 1);
$Secondary01: rgba(0, 24, 32, 1);
$Secondary02: rgba(0, 41, 53, 1);
$Secondary03: rgba(0, 61, 79, 1);
$Secondary04: rgba(0, 81, 105, 1);
$Secondary05: rgba(0, 102, 132, 1);
$Secondary06: rgba(0, 122, 158, 1);
$Secondary07: rgba(43, 144, 174, 1);
$Secondary08: rgba(85, 166, 190, 1);
$Secondary09: rgba(128, 188, 206, 1);
$Secondary10: rgba(170, 211, 223, 1);
$Secondary11: rgba(204, 228, 236, 1);
$Grey01: rgba(17, 19, 20, 1);
$Grey02: rgba(28, 32, 34, 1);
$Grey03: rgba(43, 48, 51, 1);
$Grey04: rgba(57, 64, 68, 1);
$Grey05: rgba(71, 80, 85, 1);
$Grey06: rgba(85, 96, 102, 1);
$Grey07: rgba(113, 123, 128, 1);
$Grey08: rgba(142, 149, 153, 1);
$Grey09: rgba(170, 175, 178, 1);
$Grey10: rgba(198, 202, 204, 1);
$Grey11: rgba(221, 223, 224, 1);
